
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Twitter Statistics</title>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    </head>

    <body>
        <center>
            <h2>Twitter Statistics</h2>
            <div style="width:50%;height:50%">
                <canvas id="chart"/>
            </div>
        </center>

        <script>
            var chart = new Chart("chart", {
                type: 'bar',
                data: {
                    labels: [{% for item in labels %} "{{item}}", {% endfor %}],
                    datasets: [{
                        label: '# number of mentions',
                        data: [{% for item in values %} {{item}}, {% endfor %}],
                        borderWidth: 1,
                        backgroundColor: ["#ffb3b3", "#b3ffec", "#009973", "#d5ff80", "#558000", "#ffdf80", "#997300", "#adadeb", "#24248f", "#6666ff","#000066"]
                    }]
                },
                options: {
                    indexAxis: 'y'
                }
            });

            setInterval(function(){

                $.getJSON('/refreshData', {
                }, function(data) {
                    chart.data.labels = data.labels;
                    chart.data.datasets[0].data = data.values;
                });

                chart.update();

            }, 1000);


        </script>
    </body>
</html>